#recipeBg{
    background: var(--purple--);
}
.recipeContainer{
    width: 50%;
    max-width:980px ;
    margin: 0 auto;

}
.recipeDisplay{
    background-color: var(--blue--);
    width: 100%;
    border-radius: 0.5rem;
    /* border-top-left-radius: .5rem;
    border-top-right-radius: .5rem; */
    padding: 0.5rem;
    margin: .5rem 0 1rem 0;
}
.recipeTitle{
    min-height: 110px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.mask{
    display: flex;
    justify-content: center;
    background-color: rgba(20, 19, 22, 0.7);
    border-radius: .5rem;
    align-items: center;
    padding: 30px;
}
.mask h1{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    color: white;
    padding: 5px;
}
.recipeDisplay h2{
    font-size: 1.8rem;
    font-weight: 800;
    padding: 10px 0 10px 5%;
    color: var(--purple--);
}
.recipeDisplay p{
    padding-left: 3.5%;
    color: white;
}
.recipeDisplay table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background: rgb(127,118,165);
    background: linear-gradient(45deg, rgba(127,118,165,.4) 0%, rgba(30,56,89,1) 100%);
    text-align: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.recipeDisplay table th{
    background-color: var(--yellow--);
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: 600;
}
.recipeDisplay table td{
    padding: 1rem 2rem;
    color: white;
    font-size: 1.2rem;

}

.recipeDisplay ol, .recipeDisplay ul{
    width: 90%;
    margin: 0 auto;
    list-style-position: inside;
    padding-left: 1.75rem;
    color: white;
}
.recipeDisplay ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.recipeDisplay li{
    padding: 0.75rem 2rem;
    text-align: justify;
    font-size: 1.2rem;
}
.recipeBtns{
    display: flex;
    width: 60%;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    height: 100px;
}

.recipeBtns button{
    width: 100%;
    height: 40%;
    border: none;
    background-color: var(--pink--);
}
#difcolor{
    background-color: var(--purple--);
}
#difcolor:hover{
    background-color: var(--yellow--);
}
.recipeBtns p{
    font-size: 1.1rem;
    text-align: center;
    color: var(--blue--);
}

.recipeBtns button:hover{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    background-color: var(--yellow--);

}

/*.myRecipesB{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 240px;*/
/*    height: 35px;*/
/*    border-radius: .5rem;*/
/*    margin: 0 0 10px 0;*/
/*    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);*/
/*    background: var(--yellow--);*/
/*}*/

/* Add new Recipe button */
.myRecipesB p{
    font-weight: 900;
    font-size: 1.3rem;
    color: white;
    width: 30%;
}
.myRecipesB p:hover{
    color: var(--pink--);
}
.collapsible{
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px;
    margin: 10px 0 10px 10px;
    background: var(--yellow--);
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    cursor: pointer;
    border-radius: 0.5rem;
}
.collapsible:hover, .deleteButton:hover, .editButton:hover{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    background-color: var(--pink--);
}
.deleteButton{
    border: none;
    border-radius: 0.5rem;
    padding: 5px;
    background: var(--yellow--);
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}
.editButton{
    border: none;
    border-radius: 0.5rem;
    padding: 5px;
    background: var(--yellow--);
    font-size: 1.1rem;
    font-weight: bolder;
    color: black;
    cursor: pointer;
    text-align: center;
    line-height: 150%;
    height: 40%;
    width: 100%;
}

@media (max-width: 768px){
    .recipeContainer{
        width: 90%;
    }
    .mask h1 {
        font-size: 2.5rem;
    }
    .recipeDisplay ol, .recipeDisplay ul{
    padding-left: 0;

}
    .recipeDisplay li{
    font-size: 1rem;
}
}
@media (min-width: 1024px) {
        .recipeContainer{
        width: 60%;
    }
}
