:root {
    --blue--: #1e3859;
    --purple--: #7F76A5;
    --yellow--: #F2BC1B;
    --pink--: #DA667B;
    --brown--: #BF7B54;


}
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Lato;
}

/**log in styling (situated in the nav bar)**/
.login, .register {
  	width: 400px;
  	background-color: #fff4e6;
  	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}

.login h1, .register h1{
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 10px 20px 0;
  	border-bottom: 2px solid #be9b7b;
}

.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
    margin-top: 5px;
}

.login .links a, .register .links a {
  	color: #4b3832;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}

.login, .register {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}

.login h1, .register h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
nav{
    background: #1E3859;
    padding: 0px 20px;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
}
 a{
    text-decoration: none;
     color: white;
}
 nav a{
     color: white;
 }

nav a:hover{
    color: #7F76A5;
}
.navbar li{
    font-size: 16px;
    font-weight: 700;
    padding: 15px 5px;
}
.navbar li a{
    display: block;
}
.logo a{
    font-size: 25px;
    font-weight: 1000;
}

.button.secondary{
    border-bottom: 1px #444 solid;

}
/* Mobile Navigation */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-hidden{
    order:1;
}
.link.button{
    order: 2;
}


.link{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.link.active{
    display: block;
}
.nav-hidden{
    cursor:pointer;
}
.mini-menu{
    position: relative;
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;
}
.mini-menu::before,.mini-menu::after{
    position: absolute;
    content: "";
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;


}
.mini-menu::before{
    top: 5px;
}
.mini-menu::after{
    top: -5px;
}


/* Tablet view */
@media all and (min-width: 468px) {
    .navbar {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .link.button {
        width: auto;
        order: 1;
        display: block;
    }

    .nav-hidden {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7px 15px;
        background: #DA667B;
        border: none;
        border-radius: 20px;

    }
    .button.secondary a {
        background: transparent;
        border: transparent;
    }

    .button a:hover {
        transition: all .20s;
    }


}
/* Tablet View */

/* DESKTOP VIEW */

@media all and (min-width: 768px){
    .link{
        display: block;
        width: auto;
    }
    .nav-hidden{
        display: none;
    }
    .logo{
        order: 0;
    }
    .link{
        order: 1;
    }
    .button{
        order: 2;
    }
    .navbar li{
        padding: 15px 10px;
    }
    .navbar li.button{
        padding-right: 0;
    }
    .recipeHeaderGrid{
        grid-template-columns: 30% 45% 25%;

    }
}
/* Footer */

.page-footer {
    position: relative;
    margin: 15px 0px 0px 0px;
    display: flex;
    width: 100%;
    background-color: #1E3859;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.footer-nav {
    width: 75%;
    padding-top: 15px;

}

.members h3 {
    color: white;
    padding-left: 20px;
    text-align: left;
    padding-bottom: 5px;
    font-weight: 900;
}
.members li {
    padding: 2px 0px 0px 25px;
    text-align: left;
    list-style-type: none;
    color: ghostwhite;
    font-weight: 600;
}

.region-footer-links {
    width: 30%;
    padding: 10px;
}

.social-links {
    width: 20%;
}

.icon-github {
    background-image: url("/static/Images/github-icon.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100px 100px;
    background-color: white;
}

