:root {
    --blue--: #1E3859;
    --purple--: #7F76A5;
    --yellow--: #F2BC1B;
    --pink--: #DA667B;
    --brown--: #BF7B54;


}
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Lato;
}

.login, .register {
  	width: 400px;
  	background-color: #fff4e6;
  	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}

.login h1, .register h1{
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 10px 20px 0;
  	border-bottom: 2px solid #be9b7b;
}

.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
    margin-top: 5px;
}

.login .links a, .register .links a {
  	color: #4b3832;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}

.login, .register {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}

.login h1, .register h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
nav{
    background: #1E3859;
    padding: 0px 20px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;

}

a:hover{
    color: #7F76A5;
}
.navbar li{
    font-size: 16px;
    font-weight: 700;
    padding: 15px 5px;
}
.navbar li a{
    display: block;
}
.logo a{
    font-size: 25px;
    font-weight: 900;
}

.button.secondary{
    border-bottom: 1px #444 solid;

}
.header{
    position: relative;
    display: inline-block;
    border-radius: 20px;
    left: 2.5%;
    right: 2.5%;
    width: 95%;
    height: 190px;
    margin-bottom: 30px;
}
#header{
    position: relative;
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 15px;

}
.header h1{
    padding-left: 2vw;
    padding-top: 1vw;
    font-size: 2em;
    font-weight: 900;
    color: white;
    margin-bottom: 1vh;
}
.header h2{
    padding-left: 2vw;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

#popular-txt, #latest-txt{
    padding: 0 5vw;
    font-size: 1.5rem;
    font-weight: 700;
}

.popular-grid{
   display: grid;
   grid-template-columns: repeat(auto-fill,22rem);
   justify-content: center;

}
.popular{
    position: relative;
    margin: 0.5rem;
    overflow: hidden;
    background: #7F76A5;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.popular a, .latest a, .popular-hidden1 a, .popular-hidden2 a, .latest-hidden1 a, .latest-hidden2 a{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.2rem;
    color: black;
}
.popular a:hover, .latest a:hover, .popular-hidden1 a:hover, .popular-hidden2 a:hover, .latest-hidden1 a:hover, .latest-hidden2 a:hover{
    color: var(--pink--);
}
.popular p, .latest p, .popular-hidden1 p, .popular-hidden2 p, .latest-hidden1 p, .latest-hidden2 p{
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
[id*="popular-img"]{
    height: 15rem;
    width: 100%;
    border-radius: 0.5rem;
}
.popular-hidden1, .popular-hidden2{
    position: relative;
    margin: 0.5rem;
    overflow: hidden;
    background: #7F76A5;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.tags{
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;
}
.tags a{
    padding: 0.15rem 1rem;
    color: black;
    font-size: 1vmax;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 1px 0px;
    border-radius: 0.5rem;
    cursor: pointer;
}
.rotw{
    position: relative;
    margin-top: 5vh;
    left: 5%;
    right: 5%;
    width: 90%;
}
.rotw-grid{
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 2%;
    justify-content: center;
    width: 100%;
    height: 40vh;

}
.rotw-img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
}
.rotw-txt h1{
    font-size: 2ch;
    font-weight: 700;
    color: #7F76A5;
}
.rotw-txt a{
    font-size: 4ch;
    font-weight: 900;
    color: black;
}
.rotw-txt a:hover{
    color: var(--pink--);
}
.rotw-txt p{
    font-size: 2ch;
    font-weight: 400;
    margin-bottom: 2px;

}
.latest-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,22rem);
    justify-content: center;
}
.latest{
    position: relative;
    margin: 0.5rem;
    overflow: hidden;
    background: #F2BC1B;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.latest-hidden1, .latest-hidden2{
    position: relative;
    margin: 0.5rem;
    overflow: hidden;
    background: #F2BC1B;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
#latest-txt{
    margin-top: 2rem;
}

[id*="latest-img"]{
    height: 15rem;
    width: 100%;
    border-radius: 0.5rem;
}
/* RecipeTemplate */
.recipeHeaderGrid{
    position: relative;
    left: 2.5%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 0%;
    width: 95%;
    border-radius: 0.5rem;
    background-color: var(--purple--);

}
.recipeImg{
    border-radius: 0.5rem 0 0 0.5rem;
    width: 100%;
    height: 20rem;
}
.recipeTxt{
    width: 60%;
}
.recipeTxt h1, .recipeTxt p{
    padding-left: 2vw;
    padding-top: 1vw;
    color: white;
}
.recipeTxt h1{
    font-size: 3rem;
}
.recipeNutrition{
    display: inline-block;
    background-color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 20rem;
    overflow: hidden;
}
.NutritionBanner{
    position: relative;
    background: rgb(30,56,89);
    background: linear-gradient(45deg, rgba(30,56,89,1) 0%, rgba(127,118,165,1) 100%);
    width: 100%;
    height: 20%;
    border-radius: 0 0.5rem 0 0;

}
.NutritionHeader{
    position: relative;
    top: -10%;
    left: 15%;
    background-color: var(--yellow--);
    border-radius: 0.5rem;
    width: 70%;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;

}
.NutritionList li{
    font-size: 1.3rem;
    padding:  0px 0px 5px 3vw;
}
.Description{
    display: none;
}
.Description, .Ingredients, .Directions {
    padding: 0 2.5%;
    margin-top: 4vh;
    width: 60%;
}
.Description h1, .Ingredients h1,.Directions h1 {
    font-size: 2.2rem;
    font-weight: 900;
}
.Description p{
    color: black;
    font-size: 1.5rem;
}
.Ingredients li{
    padding: 1rem 0 1rem 3vw;
    font-size: 1.5rem;
    font-weight: 700;
}
.Directions li{
    padding: 2rem 0 2rem 3vw;
    font-size: 1.5rem;
}
/* RecipeTemplate */


/* Mobile Navigation */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-hidden{
    order:1;
}
.link.button{
    order: 2;
}


.link{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.link.active{
    display: block;
}
.nav-hidden{
    cursor:pointer;
}
.mini-menu{
    position: relative;
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;
}
.mini-menu::before,.mini-menu::after{
    position: absolute;
    content: "";
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;


}
.mini-menu::before{
    top: 5px;
}
.mini-menu::after{
    top: -5px;
}
/* Mobile Navigation */


/* Tablet view */
@media all and (min-width: 468px) {
    .navbar {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .link.button {
        width: auto;
        order: 1;
        display: block;
    }

    .nav-hidden {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7px 15px;
        background: #DA667B;
        border: 1px solid #DA667B;
        border-radius: 50em;

    }

    .button.secondary a {
        background: transparent;
        border: transparent;
    }

    .button a:hover {
        transition: all .20s;
    }


}
/* Tablet View */

@media (max-width: 642px){
    .rotw-grid{
        grid-template-columns: repeat(1, 1fr);

    }
    .recipeHeaderGrid{
        display: none;
    }
    .Description{
        display: revert;
    }
    .Description, .Ingredients, .Directions {
        width: 90%;
    }
        .mask h1{
        font-size: 2rem;
    }
    .mask p{
        font-size: 1rem;
        width: 50%;
    }
    .searchBox button {
        height: 15%;
        width: 35%;
    }
}

/* DESKTOP VIEW */

@media all and (min-width: 768px){
    .link{
        display: block;
        width: auto;
    }
    .nav-hidden{
        display: none;
    }
    .logo{
        order: 0;
    }
    .link{
        order: 1;
    }
    .button{
        order: 2;
    }
    .navbar li{
        padding: 15px 10px;
    }
    .navbar li.button{
        padding-right: 0;
    }
    .recipeHeaderGrid{
        grid-template-columns: 30% 45% 25%;

    }
    .mask p{
        width: 50%;
    }
}
@media  (min-width: 1408px){
    main{
        padding: 0 10%;
    }

}
@media (min-width: 1760px) {
    main{
        padding: 0 15%;
    }
}

    @media (min-width: 2400px) {
        main{
            padding: 0 15%;
        }
        .latest-grid, .popular-grid{
            grid-template-columns: repeat(auto-fill, 20rem);
        }
            .popular-hidden1, .latest-hidden1 {
        display: none;
    }
    }