<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatimble" content="ie=edge">
    <title>Straight To The Pan</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/discover.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <script src = "/static/scripts/discover_functions.js"></script>
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class="logo"><a href="{{ url_for('index') }}">Straight To The Pan</a> </li>
            <li class="link"><a href="{{ url_for('recipe') }}">My Recipes</a> </li>
            <li class="link"><a href="#">My Bookmark</a> </li>
            <li class="link"><a href="{{ url_for('discover') }}">Discover Recipes</a> </li>
            <li class="link button"><a href="{{ url_for('login') }}">Login</a> </li>
            <li class="link button secondary"><a href="{{ url_for('register') }}">Sign Up</a> </li>
            <li class="nav-hidden"><span class="mini-menu"></span></li>
        </ul>
    </nav>
    
   <!-- Discover recipes description and search elements-->
<div class="searchHeader" style="background:url(/static/Images/Food23.jpg) bottom 87% left / cover no-repeat;">
    <div class="mask">
        <h1>Discover recipes</h1>
        <p>Here you can search <br> and discover brand new recipes</p>
        <div class="search-flex" >
            <div class="searchBox">
        <input id="searchBar" type="text" placeholder="Search">
        <button onclick="Search()" id="searchButton" type="submit">Search</button>
                </div>
    </div>
        </div>
    </div>
    
    <!--Recipe suggestions-->
    <div class="discover-flex">
    <div class="discover">
        <div class="discoverHeader" style="background: url(/static/Images/Header1.jpg) bottom 10% left / cover no-repeat; border-radius:20px ">
            <div class="mask">
        <h1>Suggestions</h1>
        <p>Can't decide?<br>Here are a few picks just for you.</p>
                </div>
            </div>
        <ul class="discoveries" id="discoverUl">
        </ul>
    </div>
    
        <!-- search results-->
    <div class="discoverResults" id="resultsDisplay">
        <div class="discoverHeader" style="background: url(/static/Images/Header2.jpg) bottom 40% left / cover no-repeat; border-radius:20px ">
        <div class="mask"> <h1>Results</h1><p>Search results are displayed below</p> </div>
            </div>
        <ul class="resultsList" id="results">
        </ul>
    </div>
    </div>
</body>
</html>
