<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Straight To The Pan</title>
    <script src = "scripts/discover_functions.js"></script>
</head>
<body>
    <h1>Welcome To Straight To The Pan</h1>
    <div class="container">
        <input id="searchBar" type="text" placeholder="Search">
        <button id="searchButton" type="submit"><i class="fa fa-search"></i></button>
    </div>

    <div class="container">
        <h2>Discover Recipes</h2>
        <ul id="discover">
            <li><a href="">Recipe</a></li>
        </ul>
    </div>

    <div class="container" id="resultsDisplay">
        <h2>Results</h2>
        <ul id="results">
            <li><a href="">Recipe</a></li>
        </ul>
    </div>
</body>
</html>