<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatimble" content="ie=edge">
    <title>Straight To The Pan</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body id="loginBody" >
    <section id="selection">
        <div id="loginMain">
        <div class="login-container">
            <div class="login-img" style="background: url(/static/Images/potrait1.jpg) center / cover no-repeat;">
                <div class="img-box">
                    <h1> Welcome To</h1> <p>Straight To The Pan<p>
                </div>
            </div>
        <div class="login-form" id="formLogin">
            <form action="{{ url_for('login') }}" method="post">
                <div class="form-controls">
                    <h2>Hello Visitor!</h2>
                    <p>You must log in to access your your recipes</p>

            <input class="form-control" type="text" placeholder="Enter your email/username" id="email", required>
            <input class="form-control" type="password" placeholder="Enter your password" id="password" required>
                    <div class="login-btns">
                        <input type="Submit" id="login_submit" value="Login" />
                        <button class="register-btn" name="register" > <a href="{{ url_for('register') }}" target="_self"> Register<a/></button>
                    </div>
                    <a href="{{ url_for('index') }}">Continue without login in</a>
                    </div>
            </form>
        </div>

    </div>
</div>
</section>
</body>
</html>
