<!-- recipeCreator.html -->
<!-- 
    This file can be linked to from the recipe.html page.
    Clicking the "Add new recipe" button will load a blank recipe form which can be edited and saved.
    Clicking the "Edit recipe" button on an existing recipe will load it's data into the recipe form.
-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatimble" content="ie=edge">
    <title>Straight To The Pan</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/recipeCreator.css">
    <link rel="stylesheet" type="text/css" href="/static/recipes.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <script src = "/static/scripts/recipeCreator_functions.js" defer></script>
    <!-- Navbar -->
    <script>
        $(function() {
            $(".nav-hidden").on("click", function() {
                if ($(".link").hasClass("active")) {
                    $(".link").removeClass("active");
                } else {
                    $(".link").addClass("active");
                }
            });
        });
    </script>
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class="logo"><a href="{{ url_for('index') }}">Straight To The Pan</a> </li>
            <li class="link"><a href="{{ url_for('recipe') }}">My Recipes</a> </li>
            <!-- <li class="link"><a href="#">My Bookmark</a> </li> -->
           <!-- <li class="link"><a href="{{ url_for('discover') }}">Discover Recipes</a> </li> -->
            <li class="link button"><a href="{{ url_for('login') }}">Login</a> </li>
            <li class="link button secondary"><a href="{{ url_for('register') }}">Sign Up</a> </li>
            <li class="nav-hidden"><span class="mini-menu"></span></li>
        </ul>
    </nav>

    <!-- Container for all input fields. -->
    <div class="recipeFlex">
        <div class="recipeEdit" id="recipeCard">
            <!-- Input for the title. -->
                <div class="recipeForm labels">
            <label for="titleInput">Title:</label>
                    <input type="text" id="titleInput" name="titleInput">
                    </div>

            <!-- Inputs for the ingredients table. -->
                <div class="recipeForm labels">
            <label for="ingredientInput">Ingredients:</label>
                    </div>
            <table class="" id="ingredientInput" name="ingredientInput">
                <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Amount</th>
                        <th>
                            <button type="button" onclick="AddIngredientRow()">Add Ingredient</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td contenteditable="true">A</td>
                        <td contenteditable="true">B</td>
                        <td>
                            <button type="button" onclick="DeleteTableRow(this)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Inputs for the methods list. -->
            <div class="recipeForm labels">
            <label for="methodInput">Method:</label>
            </div>
            <table id="methodInput" name="methodInput">
                <thead>
                    <tr>
                        <th>Step</th>
                        <th>
                            <button type="button" onclick="AddMethodRow()">Add Step</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td contenteditable="true">A</td>
                        <td>
                            <button type="button" onclick="DeleteTableRow(this)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Inputs for the categories list -->
        <div class="recipeForm labels">
        <label for="categoryInput">Categories:</label>
            </div>
        <table id="categoryInput" name="categoryInput">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>
                        <button type="button" onclick="AddCategoryRow()">Add Tag</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td contenteditable="true">A</td>
                    <td>
                        <button type="button" onclick="DeleteTableRow(this)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

            <div class="recipeBtns">
        <button type="button" id="saveButton" onclick="SaveRecipe()">Save Recipe</button>
        <button type="button" id="discardButton" onclick="window.location.replace('/recipe');">Discard</button>
            </div>
    </div>
</body>
</html>