<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Straight To The Pan</title>
    <script src = "scripts/recipe_functions.js"></script>
</head>
<body>
    <h1>Welcome To Straight To The Pan</h1>

    <div class="container" id="recipeCard">
        <h2 id="recipeTitle">Recipe Title</h2>
        
        <p id="recipeCreator">by Username</p>

        <table id="recipeIngredients">
            <tr>
                <th>Ingredient</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>ingredientName</td>
                <td>ingredientAmount</td>
            </tr>
        </table>

        <ol id="recipeMethod" type="1">
            <li>Instruction</li>
        </ol>

        <ul id="recipeCategories">
            <li>Category</li>
        </ul>
    </div>
</body>
</html>