<!-- recipe.html -->
<!--
    This file can be linked to from all pages that include the navbar by clicking on the "My Recipes" button.
        This will load all of the user's uploaded recipes onto the page with the functionality to add, edit, or delete them.
    This file can also be linked from the discover page, by clicking on one of the recipe links.
        This will load jsut the specified recipe's details onto the page.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatimble" content="ie=edge">
    <title>Straight To The Pan</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/recipes.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <script src = "/static/scripts/recipe_functions.js" defer></script>
    <!-- Navbar -->
    <script>
        $(function() {
            $(".nav-hidden").on("click", function() {
                if ($(".link").hasClass("active")) {
                    $(".link").removeClass("active");
                } else {
                    $(".link").addClass("active");
                }
            });
        });
    </script>
</head>
<body id="recipeBg">
    <nav>
        <ul class="navbar">
            <li class="logo"><a href="{{ url_for('index') }}">Straight To The Pan</a> </li>
            <li class="link"><a href="{{ url_for('recipe') }}">My Recipes</a> </li>
            <!-- <li class="link"><a href="#">My Bookmark</a> </li> -->
           <!-- <li class="link"><a href="{{ url_for('discover') }}">Discover Recipes</a> </li> -->
            <li class="link button"><a href="{{ url_for('login') }}">Login</a> </li>
            <li class="link button secondary"><a href="{{ url_for('register') }}">Sign Up</a> </li>
            <li class="nav-hidden"><span class="mini-menu"></span></li>
        </ul>
    </nav>

    <!-- Used to display a single recipe. -->
    <div class="recipeContainer">
    <div class="recipeDisplay" id="recipeCard">
        <div class="recipeTitle" style="background: url(/static/Images/HomeHeader.jpg) bottom 50% left / cover no-repeat">
            <div class="mask">
        <h1 id="recipeTitle">Recipe Title</h1>
            </div>
            </div>

        <p id="recipeCreator">by Username</p>

        <h2>Ingredients</h2>
        <table id="recipeIngredients">
        </table>

        <h2>Method</h2>
        <ol id="recipeMethod" type="1">
        </ol>

        <h2>Categories</h2>
        <ul id="recipeCategories">
        </ul>
        <div class="recipeBtns">
        <button type="button" id="difcolor"> <a href="/recipeCreator?id=" class="editButton" id="editButton"><p>Edit Recipe<p></a> </button>
        <button type="button" id="deleteButton" onclick="DeleteRecipe()"><p>Delete<p></button>
        </div>
    </div>

    <!-- Button for the recipe creator page. -->
    <a href="{{ url_for('recipeCreator') }}" id="newRecipe">Add New Recipe</a>

    <!-- Used to display all recipes. -->
    <div class="container" id="allRecipes">
        <button type="button" class="collapsible">Recipe</button>
        <div class="recipeContent">
            <table id="recipeIngredients">
            </table>

            <ol id="recipeMethod" type="1">
            </ol>

            <ul id="recipeCategories">
            </ul>

            <div class="recipeBtns">
            <button type="button" id="difcolor"> <a href="/recipeCreator?id=" class="editButton"><p>Edit Recipe<p></a> </button>
            <button type="button" class="deleteButton" id="deleteRecipe" onclick="DeleteRecipe()"><p>Delete<p></button>
                </div>
        </div>
    </div>
        </div>

</body>
</html>