<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="/static/Style.css">
</head>
<body>
    <div class="register">
        <h1>Register</h1>
        <div class="links">
            <a href="login.html">Login</a>
            <a href="register.html" class="active">Register</a>
        </div>
      <br>
    <form action="{{ url_for('register') }}" method="post">
        <br>
        <label for="username">Username</label><br>
        <input type="text" placeholder="Enter Username" id="username" required><br>

        <label for="email">Email</label><br>
        <input type="text" placeholder="Enter your email" id="email" required><br>
     <br>
        <label for="password">Password</label><br>
        <input type="text" placeholder="Password" id="password" required><br>

        <label for="password">Confirm Password</label><br>
        <input type="password" placeholder="Password" id="password" required><br><br>

        <button class="grey" id="login_submit">Submit</button>
        <p>Click <a href="index.html">here</a> to go home.</p>
      </form>
    </div>
</body>
</html>
