<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
    <div class="container">
    <h1>Please Register</h1>
      <br>
      <form action="" method="post">
          <label>Email</label><br>
          <input type="text" placeholder="Enter your email" id="newEmail" value="{{request.form.email }}"><br><br>
          
          <label>Password</label><br>
          <input type="password" placeholder="Enter your password" id="newPassword" value="{{request.form.password }}"><br><br>
          <input class="btn btn-default" type="submit" value="Register"><br>
          
          <p>Click <a href="/">here</a> to go home.</p>
      </form>
    </div>
</body>
</html>
